doctype html
html(lang="fr" class="no-js")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible",content="ie=edge")
        meta(name="description",content="Saint Seiya Bronze Saints One Page")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        title Saint Seiya Bronze Saints - Seiya Pegasus Bronze Saint
        link(rel="stylesheet",href="assets/css/style.min.css")
    body
        div(id="container")
            | Hello! I'm Seiya
    script(src="assets/js/main.min.js")
